.dashboard-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    /* background-color: #2f86dd;  */
    background: linear-gradient(90deg, rgba(210,227,249,1) 0%, rgba(216,244,239,1) 100%);
}

.tdb-card{
    width: 90vw;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dashboard-body h2 {
    color: #19324f;
}

.create-tender-button{
    background-color: #0062f2;
    cursor: pointer;
    box-sizing: border-box;
    padding: 12px 12px;
    color: white;
    font-size: 18px;
    line-height: 26px;
    border-radius: 12px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    border: 1px solid white;
}
.create-tender-button:hover{
    background-color: #023e99;  
  }