.submit-btn{
    padding: 10px 32px;
    margin: 15px;
    font-size: 15px;
}
.submit-btn:hover{
    background-color: #023e99;  
}
.names{
    float: left;
    display: inline;
    justify-content: center;
    text-align: center;
    padding: 7px;
    margin: 3px;
    background-color: #e7eefe;
    color: black;
    margin-top: -6px;
    width: auto;
    min-width: 300px;
    border-radius: 7px;
}
.file-input{
    display: inline;
    justify-content: center;
    text-align: center;
    padding: 7px;
    margin-top: -7px;
    margin-left: 40px;
    background-color: #e7eefe;
    width: auto;
    min-width: 400px;
    border-radius: 7px;
}

.input-card{
    width: 60%;
    display: block;
    display: flex;
    justify-content: center;
    margin: 1rem auto; 
}
.tender-show{
    min-height: 5vh;
    margin-bottom: -40px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, rgba(210,227,249,1) 0%, rgba(216,244,239,1) 100%)
}
.tname{
    background-color: #f9fbfd;
    padding: 0.2rem;
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 10px;
    width: 94vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
}
.tname h2{
    margin-left: 25px;
}
.successfully-submitted{
    background-color: #f9fbfd; 
    padding: 2rem;
    margin: auto ;
    margin-top: 10%;
    text-align: center;
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.sample-comments{
    display: block;
    min-height: 75px;
    text-align: center;
    padding: 7px;
    margin: 3px;
    /* margin-left: 450px; */
    margin-bottom: 20px;
    background-color: #e7eefe;
    color: black;
    /* min-width: 100px; */
    border-radius: 7px;
}

.back-to-dashboard{
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
}