.upload-doc-block{
    height: 100vh;
    overflow-y: scroll;
    text-align: center;
}

.comply-block{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.spinner {
    animation: spin 3s ease-in-out infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
      color: #0062f2;
    }
    50%{
        color: #04bd90;
    }
    100% {
      transform: rotate(360deg);
      color: #0062f2;
    }
  }

.tcomp-res{
    background-color: #f9fbfd;
    padding: 2rem;
    margin-top: 30px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.tcomp-res>*{
    margin-top: 15px;
    margin-bottom: 15px;
}

.tcres-btn{
    width: 150px;
    padding: 10px;
}

.disabled{
    border-radius: 5px;
    background-color: #a7a7a7;
    color: white;
    cursor: 'not-allowed';
    box-shadow: "0px 0px 10px 0px grey", 
    
}


.req-doc-form{
    width: 100%;
    /* height: 15vh; */
    /* border: 1px solid #d5e7ff;  */
}
.multiselect{
    margin: 25px;
    
}

.tcomp-res-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}